# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# extra
.env
/uploads/instacart/aisles.csv
/uploads/instacart/departments.csv
/uploads/instacart/order_products__prior.csv
/uploads/instacart/order_products__train.csv
/uploads/instacart/orders.csv
/uploads/instacart/products.csv